<% if user_signed_in? %>

    <%= link_to root_path, class: "flex flex-col items-center drop-shadow-md shadow-pink-500 hover:drop-shadow-none" do %>
        <%= image_tag 'logo-clear.png', alt: 'Logo', class: 'h-8 w-8' %>
        <span class="text-xs font-bold text-pink-500">あるある神経衰弱</span>
    <% end %>

<% else %>

    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
        data-client_id="<%= ENV['GOOGLE_CLIENT_ID'] %>"
        data-login_uri=
        # "<%= Rails.env.development? ? 'http://localhost:3000/google_login_api/callback' : 'https://www.aruaru-games.com/google_login_api/callback' %>"
        # "<%= Rails.env.development? ? 'http://localhost:3000/google_login_api/callback' : 'https://aruaru-game.onrender.com/google_login_api/callback' %>"
        data-auto_prompt="false">
    </div>
    <div class="g_id_signin bg-yellow-50 h-8"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="signin"
        data-shape="pill"
        data-logo_alignment="left"
        data-width="60">
    </div>


    <%= button_to "Googleログイン", user_google_oauth2_omniauth_authorize_path,
        method: :post, data: { turbo: false },
        class: "bg-yellow-500 text-white font-bold rounded hover:bg-yellow-600" %>

<% end %>