<!--  遊び方 -->
<div>
    <input type="checkbox" id="popup-1">
        <label class="popup-open-1" for="popup-1">遊び方</label>
            <div class="popup-overlay-1">
                <div class="popup-window-1">
                    <p class="popup-title-1">🥳　遊び方　🥳</p>
                    <p class="popup-text-1">
                    <span style="font-weight: bold; ">あらゆる界隈をすこーし探求できるゲーム</span>
                    <br>①あるあるを知りたい界隈を入力！
                    <br>　ＡＩがあるあるを生成してくれるよ
                    <br><%= image_tag 'header/AI-search.png', class: 'rounded-circle mr15', width: '20%', height: '20%' %>
                    <%= image_tag 'header/AI-lines.jpeg', class: 'rounded-circle mr15', width: '60%', height: '60%' %>
                    <br>②モードを選んで神経衰弱スタート！
                    <br>　札をめくって、あるあるのペアを作ろう！
                    <br>
                        <%= image_tag 'header/card.png', class: 'rounded-circle mr15', width: '12.7%', height: '12.7%' %>
                        <%= image_tag 'header/card-2.jpeg', class: 'rounded-circle mr15', width: '12%', height: '12%' %>
                        <%= image_tag 'header/card.png', class: 'rounded-circle mr15', width: '12.7%', height: '12.7%' %>
                        <%= image_tag 'header/card-1.jpeg', class: 'rounded-circle mr15 custom-border', width: '12%', height: '12%' %>
                        <%= image_tag 'header/pea.jpeg', class: 'rounded-circle mr15', width: '20%', height: '20%' %>
                        <br>

                        <%= image_tag 'header/card.png', class: 'rounded-circle mr15', width: '12.7%', height: '12.7%' %>
                        <%= image_tag 'header/card.png', class: 'rounded-circle mr15', width: '12.7%', height: '12.7%' %>
                        <%= image_tag 'header/card-1.jpeg', class: 'rounded-circle mr15 custom-border', width: '12%', height: '12%' %>
                        <%= image_tag 'header/card.png', class: 'rounded-circle mr15', width: '12.7%', height: '12.7%' %>
                        <%= image_tag 'header/pea-lines.png', class: 'rounded-circle mr15', width: '30%', height: '30%' %>
                    <br>
                    ③左上の <%= image_tag 'header/menu/menu-1.png', class: 'rounded-circle mr15', width: '30', height: '30' %> や
                    <%= image_tag 'header/menu/menu-3.png', class: 'rounded-circle mr15', width: '25', height: '25' %> から
                    <br>　あるあるを自作したり、シェアしよう💃
                    </p>
                    <label class="popup-close-1" for="popup-1">
                        <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                            <line x1="0" y1="0" x2="18" y2="18" stroke="white" stroke-width="3"></line>
                            <line x1="0" y1="18" x2="18" y2="0" stroke="white" stroke-width="3"></line>
                        </svg>
                    </label>
                </div>
            </div>
    </input>
</div>


<nav>
    <div class="menu">
        <span id="menu-button" class="menu-button">
        <%= image_tag 'header/menu/menus.svg', width: '40', height: '40', id:'image-menu-button'%>
        </span>
        <div id="menu-area" class="menu-area">
            <div class="menu-list1" >
                <li><a href="/index">
                <%= image_tag 'header/menu/menu-1.png', width: '30', height: '30',id:'image-menu1' %>
                誰かが作ったあるあるで遊ぶ</a></li>
            <div class="menu-list2" >
                <li><a href="/user/index">
                <%= image_tag 'header/menu/menu-2.svg', width: '25', height: '25',id:'image-menu2' %>
                自分であるあるを作って投稿</a></li>
            <div class="menu-list3" >
                <li><a href="/likes">
                <%= image_tag 'header/menu/menu-3.png', width: '25', height: '25',id:'image-menu3' %>
                お気に入りの界隈をみる</a></li>
            <div class="menu-list4" >
                <li><a href="/settings">
                <%= image_tag 'header/menu/menu-4.svg', width: '25', height: '25',id:'image-menu4' %>
                設定</a></li>
        </div>
    </div>
</nav>
