<button class="btn text-[#F50968] hover:text-[#5099ff] left-5 top-2" onclick="howto.showModal()">遊び方</button>
<dialog id="howto" class="modal">
    <div class="modal-box fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-white rounded-lg max-w-[400px] p-2 z-50">
        <h3 class="text-pink-500 font-bold text-2xl text-center text-[#ff0090]">🥳　遊び方　🥳</h3>
        <br>
        <div class="howto-text text-[#ff5900] text-left whitespace-nowrap leading-400 px-8 py-8 left-2">
            <div class="font-bold text-center">あらゆる界隈をすこーし探求できるゲーム</div>
            <br>
            ①あるあるを知りたい界隈を入力！<br>
            ＡＩがあるあるを生成してくれるよ
            <div class="flex">
            <%= image_tag 'header/AI-search.png', width: '70', height: '70' %>
            <%= image_tag 'header/AI-lines.jpeg', width: '320', height: '60' %>
            </div>
            <br>
            <div class="flex">②<%= image_tag 'header/start-button.png', class: 'rounded-circle mr-2', width: '130', height: '2' %>で</div>
            札をめくって、あるあるのペアを作ろう！
            <div class="flex space-x-3">
                <%= image_tag 'header/card.png',  width: '70', height: '70' %>
                <%= image_tag 'header/card-2.jpeg',  width: '70', height: '70' %>
                <%= image_tag 'header/card.png',  width: '70', height: '70' %>
                <%= image_tag 'header/card-1.jpeg', class: 'border-4 border-yellow-500 rounded-lg', width: '70', height: '70' %>
                <%= image_tag 'header/pea.jpeg',  width: '150', height: '70' %>
                <br>
            </div>
            <div class="flex space-x-3">
                <%= image_tag 'header/card.png',  width: '70', height: '70' %>
                <%= image_tag 'header/card.png',  width: '70', height: '70' %>
                <%= image_tag 'header/card-1.jpeg', class: 'border-4 border-yellow-500 rounded-lg', width: '70', height: '70' %>
                <%= image_tag 'header/card.png',  width: '70', height: '70' %>
                <%= image_tag 'header/pea-lines.png',  width: '200', height: '70' %>
            </div>
            <br>
            <div class="flex space-x-3">
                ③左上の <%= image_tag 'header/menu/menus.svg', width: '30', height: '30' %> から
                </div>
                誰かのあるあるで遊んだり、自作してシェアしよう💃
                </div>
                <br>
            <form method="dialog" class="modal-backdrop" onclick="howto.close()">
                <button>閉じる</button>
            </form>
            </div>
        </div>
    </div>
</dialog>



<nav>
    <div class="menus">
        <span id="menus-button" class="menus-button">
        <%= image_tag 'header/menu/menus.svg', width: '40', height: '40', id:'image-menus-button'%>
        </span>
        <div id="menus-area" class="menus-area">
            <div class="menu-list1" >
                <li>
                <a href="/index">
                <%= image_tag 'header/menu/menu-1.svg', width: '30', height: '30',id:'image-menu1' %>
                誰かが作ったあるあるで遊ぶ</a>
                </li>
            <div class="menu-list2" >
                <li><a href="/user/index">
                <%= image_tag 'header/menu/menu-2.svg', width: '25', height: '25',id:'image-menu2' %>
                自分であるあるを作って投稿</a></li>
            <div class="menu-list3" >
                <li><a href="/bookmarks">
                <%= image_tag 'header/menu/menu-3.svg', width: '25', height: '25',id:'image-menu3' %>
                お気に入りの界隈をみる</a></li>
            <div class="menu-list4" >
                <li><a href="/settings">
                <%= image_tag 'header/menu/menu-4.svg', width: '25', height: '25',id:'image-menu4' %>
                設定</a></li>
            </div>
        </div>
    </div>
</nav>
