<!-- 6/11 遊び方 -->
<div>
    <input type="checkbox" id="popup-1">
        <label class="popup-open-1" for="popup-1">遊び方</label>
            <div class="popup-overlay-1">
                <div class="popup-window-1">
                    <p class="popup-title-1">🥳 遊び方 🥳</p>
                    <p class="popup-text-1">
                    クラスタをほんのちょっぴり攻略できるゲームだよ
                    <br>
                    <br>①あるあるを知りたいクラスタを入力！
                    <br>　ＡＩがあるあるを生成してくれるよ
                    <br><%= image_tag 'AI虫眼鏡.png', class: 'rounded-circle mr15', width: '80', height: '80' %>
                    <%= image_tag 'セリフ.jpeg', class: 'rounded-circle mr15', width: '240', height: '50' %>
                    <br>②好きなモードで神経衰弱スタート！
                    <br>　札をめくるまで、どんなあるあるが有るか分からない！

                    <br><%= image_tag 'トランプ背面.png', class: 'rounded-circle mr15', width: '40', height: '55' %>
                    <%= image_tag 'トランプ1.jpeg', class: 'rounded-circle mr15', width: '40', height: '55' %>
                    <%= image_tag 'トランプ背面.png', class: 'rounded-circle mr15', width: '40', height: '55' %>
                    <%= image_tag 'トランプ2.jpeg', class: 'rounded-circle mr15', width: '40', height: '55' %>
                    <br>
                    <%= image_tag 'トランプ背面.png', class: 'rounded-circle mr15', width: '40', height: '55' %>
                    <%= image_tag 'トランプ背面.png', class: 'rounded-circle mr15', width: '40', height: '55' %>
                    <%= image_tag 'トランプ2.jpeg', class: 'rounded-circle mr15', width: '40', height: '55' %>
                    <%= image_tag 'トランプ背面.png', class: 'rounded-circle mr15', width: '40', height: '55' %>
                    
                    <br>③左上の <%= image_tag '吹き出し.png', class: 'rounded-circle mr15', width: '30', height: '30' %> や
                    <%= image_tag 'ハート.png', class: 'rounded-circle mr15', width: '25', height: '25' %> から
                    <br>　あるあるを自作したり、シェアできたりするよ
                    </p>
                    <label class="popup-close-1" for="popup-1">
                        <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                            <line x1="0" y1="0" x2="18" y2="18" stroke="white" stroke-width="3"></line>
                            <line x1="0" y1="18" x2="18" y2="0" stroke="white" stroke-width="3"></line>
                        </svg>
                    </label>
                </div>
            </div>
    </input>
</div>


<!-- 6/11 モード説明 -->
<div>
    <input type="checkbox" id="popup-2">
    <!-- styleで遊び方と距離を取ってる -->
    <!-- jsファイル様に「id="play-btn"」を追加 -->
    <label class="popup-open-2" for="popup-2" id="play-btn" >モード説明</label>
    <div class="popup-overlay-2">
        <div class="popup-window-2">
            <p class="popup-title-2">🚩 モード説明 🚩</p>
            <p class="popup-text-2">
            
            

            </p>
            <label class="popup-close-2" for="popup-2">
                <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                    <line x1="0" y1="0" x2="18" y2="18" stroke="white" stroke-width="3"></line>
                    <line x1="0" y1="18" x2="18" y2="0" stroke="white" stroke-width="3"></line>
                </svg>
            </label>
        </div>
    </div>
    </input>
</div>

<!-- </div> -->




<nav>
    <div class="toggles">
        <div class="toggle1">
        <span id="toggle-button1">
            <%= image_tag '吹き出し.png', class: 'rounded-circle mr15', width: '40', height: '40' ,id:'image-toggle' %>
        </span>
            <div id="toggle-content1" class="toggle-content1">
                <ul class="toggle-list1" >

                <!-- トグルリストだけを指定したid -->
                <!-- <div  id="toggles-list"  > -->

                <!-- 矢印アイコンを項目の先頭に表示 -->
                    <li><a href="/about"><span class="material-symbols-outlined">chevron_right</span>シェアされた界隈</a></li>
                    <li><a href="/contact"><span class="material-symbols-outlined">chevron_right</span>皆の自作あるある</a></li>
                </ul>

                <!-- トグルリストだけを指定したid の終わりタグ-->
                <!-- </div> -->
            </div>
        </div>
        <div class="toggle2">
        <span id="toggle-button2">
                <%= image_tag 'ハート.png', class: 'rounded-circle mr15', width: '33', height: '33',id:'image-toggle'  %>
        </span>
            <div id="toggle-content2" class="toggle-content2">
                <ul class="toggle-list2" >
                <!-- 矢印アイコンを項目の先頭に表示 -->
                <li><a href="/"><span class="material-symbols-outlined">chevron_right</span>界隈をシェアする</a></li>
                <li><a href="/users_likes"><span class="material-symbols-outlined">chevron_right</span>お気に入りの界隈</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
