<div>
    <input type="checkbox" id="popup">
        <label class="popup-open" for="popup">遊び方</label>
            <div class="popup-overlay">
                <div class="popup-window">
                    <p class="popup-title">🥳 遊び方 🥳</p>
                    <p class="popup-text">
                        クラスタをほんのすこし攻略できるゲームだよ
                        <br>
                        <br>❶ お題にあるあるを知りたい界隈を入力しよう！
                        <br>　 ＡＩがあるあるを生成してくれるよ
                        <br><%= image_tag 'AI虫眼鏡.png', class: 'rounded-circle mr15', width: '80', height: '80' %>
                        <%= image_tag 'セリフ.jpeg', class: 'rounded-circle mr15', width: '250', height: '150' %>
                        <br>
                        <br>❷ 好きなモードで神経衰弱スタート！
                        <br>　 札をめくるまで、どんなあるあるが有るか分からないよ
                        <br>
                        <br><%= image_tag 'トランプ背面.png', class: 'rounded-circle mr15', width: '60', height: '80' %>
                        <%= image_tag 'トランプジョーカー.png', class: 'rounded-circle mr15', width: '60', height: '80' %>
                        <%= image_tag 'トランプ背面.png', class: 'rounded-circle mr15', width: '60', height: '80' %>
                        <br>
                        <br>❸ 左上の <%= image_tag '吹き出し.png', class: 'rounded-circle mr15', width: '30', height: '30' %> から、あるあるを自作してシェアすることもできるよ！
                    </p>
                    <label class="popup-close" for="popup">
                        <svg width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                            <line x1="0" y1="0" x2="18" y2="18" stroke="white" stroke-width="3"></line>
                            <line x1="0" y1="18" x2="18" y2="0" stroke="white" stroke-width="3"></line>
                        </svg>
                    </label>
                </div>
            </div>
    </input>
</div>

<nav>
    <div class="toggles">

        <div class="toggle1">
        <span id="toggle-button1">
                <%= image_tag '吹き出し.png', class: 'rounded-circle mr15', width: '40', height: '40' %>
        </span>
            <div id="toggle-content1" class="toggle-content1">
                <ul class="toggle-list1">
                <!-- 矢印アイコンを項目の先頭に表示 -->
                        <li><a href="/about"><span class="material-symbols-outlined">chevron_right</span>シェアされた界隈</a></li>
                        <li><a href="/contact"><span class="material-symbols-outlined">chevron_right</span>皆の自作あるある</a></li>
                </ul>
            </div>
        </div>
        <div class="toggle2">
        <span id="toggle-button2">
                <%= image_tag 'ハート.png', class: 'rounded-circle mr15', width: '35', height: '35' %>
        </span>
            <div id="toggle-content2" class="toggle-content2">
                <ul class="toggle-list2">
                <!-- 矢印アイコンを項目の先頭に表示 -->
                <li><a href="/"><span class="material-symbols-outlined">chevron_right</span>界隈をシェアする</a></li>
                <li><a href="/users_likes"><span class="material-symbols-outlined">chevron_right</span>お気に入りの界隈</a></li>
                </ul>
            </div>
    </div>
</nav>
