<div class='flex justify-center'>
    <div class='items-center'>

        <div class="text-sky-800"><%= "#{@post.user.name}さんが思う" %></div>
        <div class="text-3xl text-sky-600 font-bold mb-0"><%= @post.title %></div>

        <div class='flex justify-end'>
            <div class="text-sky-400">界隈あるある</div>
        </div>
        <div class='mb-4'>
            <%= render 'tags/tags_list', post: @post %>
        </div>

        <!-- ゲーム画面に必要な記述 -->
        <div id="panel"></div>
        <div id="posts-data"
                data-post-id="<%= @post.id %>"
                data-aruaru-one="<%= @post.aruaru_one %>"
                data-aruaru-two="<%= @post.aruaru_two %>"
                data-aruaru-three="<%= @post.aruaru_three %>"
                data-aruaru-four="<%= @post.aruaru_four %>"
                data-aruaru-five="<%= @post.aruaru_five %>">
        </div>

        <div class="mt-8">
            <%= render 'shared/index_backbutton' %>
        </div>
    </div>
</div>