<div class="post-box-body bg-[#fbfbfb] rounded-lg p-2">
    <% if current_user == post.user %>

        <!-- カレントユーザーが自作した投稿（myindex） -->
        <%= link_to start_game_path(post), data: { loading: true },
            class: "start-game block post-box bg-cyan-50 border-2 border-cyan-100 rounded-lg shadow-md
                    hover:bg-white hover:shadow-none hover:border-2 hover:border-orange-400" do %>

            <!-- 自作投稿一覧以外に表示する場合は、カレントユーザー名を表示 -->
            <% if request.path != myindex_posts_path %>
                <ul class="text-left list-inline text-slate-400 text-xs px-2 pt-2"><%= post.user.name %>さんが思う</ul>
            <% end %>

            <div id="post-id-<%= post.id %>" class="text-left">
                <div class="post-box-title font-bold p-2 pb-0 text-cyan-800 drop-shadow-md group-hover:drop-shadow-none">
                    <%= post.title %></div>
                <div class="text-cyan-600 p-2 text-xs">あるあるで遊ぶ</div>
            </div>
        <% end %>

        <div class='mt-3 text-left'>
            <%= render 'tags/tags_list', post: post %>
        </div>

        <div class="flex justify-end gap-3 pt-4">
            <%= render 'shared/xshare_button', post: post %>
            <div class="post-edit">
                <%= link_to image_tag('post/post-edit.svg', width: '25', height: '25', class: "post-edit drop-shadow-md hover:drop-shadow-none", id: "image-edit"),
                edit_post_path(post), id: "button-edit-#{post.id}" %>
            </div>
            <div class="post-delete">
                <%= link_to image_tag('post/post-delete.svg', width: '25', height: '25', class: "drop-shadow-md hover:drop-shadow-none", id: "image-delete"),
                post_path(post), id: "button-delete-#{post.id}", data: { turbo_method: :delete, turbo_confirm: "えぇ〜 消しちゃうの？" } %>
            </div>
        </div>

    <% else %>

        <!-- 他のユーザーが投稿した一覧（index） -->
        <%= link_to start_game_path(post), data: { loading: true },
            class: "start-game block post-box bg-green-50 border-2 border-green-100 rounded-lg shadow-md
                    hover:bg-white hover:shadow-none hover:border-2 hover:border-orange-400" do %>
            <div id="post-id-<%= post.id %>" class="text-left">
            <ul class="list-inline text-slate-400 text-xs px-2 pt-2"><%= post.user.name %>さんが思う</ul>
                <div class="post-box-title font-bold p-2 pb-0 text-lime-800 drop-shadow-md group-hover:drop-shadow-none">
                    <%= post.title %></div>
                <div class="text-lime-600 p-2 text-xs">あるあるで遊ぶ</div>
            </div>
        <% end %>

        <div class='mt-3 text-left'>
            <%= render 'tags/tags_list', post: post %>
        </div>

        <div class="flex justify-end gap-3 pt-4">
            <%= render 'shared/xshare_button', post: post %>
            <!-- ログイン済ならお気に入りボタンを表示 -->
            <% if user_signed_in? %>
                <%= render 'likes/like_buttons', post: post %>
            <% end %>
        </div>

    <% end %>
</div>
<br>
