<% if current_user == post.user %>
    <!-- カレントユーザーが自作した投稿（myindex） -->
    <div class="post-box-body bg-[#fbffff] rounded-lg p-2">
        <%= link_to start_game_path(post),
        class: "block post-box bg-cyan-50 hover:bg-white rounded-lg
            shadow-md hover:shadow-none hover:border-2 hover:border-orange-400" do %>
                <div id="post-id-<%= post.id %>">
                    <div class="post-box-title font-bold p-2 pb-0 text-cyan-800 drop-shadow-md group-hover:drop-shadow-none">
                        <%= post.title %></div>
                    <div class="text-cyan-600 p-2 text-xs">あるあるで遊ぶ</div>

                    <div class="flex justify-end gap-4 pt-2">
                        <%= render 'shared/xshare_button', post: post %>
                        <% buttons = [
                            { path: post_path(post), id: "image-show", image: 'post/post-show.svg', class: 'post-show pt-0.5' },
                            { path: edit_post_path(post), id: "image-edit", image: 'post/post-edit.svg', class: 'post-edit' },
                            { path: post_path(post), id: "image-delete", image: 'post/post-delete.svg', class: 'post-delete', data: { turbo_method: :delete, turbo_confirm: "えぇ〜 消しちゃうの？" } }
                        ] %>
                        <% buttons.each do |button| %>
                            <%= link_to image_tag(button[:image], width: '25', height: '25', class: "#{button[:class]} drop-shadow-md hover:drop-shadow-none"), button[:path], id: button[:id], data: button[:data] %>
                        <% end %>
                    </div>
                </div>
        <% end %>
    </div>

<% else %>

    <!-- 他のユーザーが投稿した一覧（index） -->
    <div class="post-box-body bg-[#fbffff] rounded-lg p-2">
        <%= link_to start_game_path(post),
            class: "block post-box bg-green-50 hover:bg-white rounded-lg
                    shadow-md hover:shadow-none hover:border-2 hover:border-orange-400" do %>

            <div id="post-id-<%= post.id %>">
            <ul class="list-inline text-slate-400 text-xs p-2 pb-0"><%= post.user.name %>さんの思う</ul>
                <div class="post-box-title font-bold p-2 pb-0 text-lime-800 drop-shadow-md group-hover:drop-shadow-none">
                    <%= post.title %></div>
                <div class="text-lime-600 p-2 text-xs">あるあるで遊ぶ</div>

                <div class="flex justify-end gap-4 pt-2">
                    <%= render 'shared/xshare_button', post: post %>
                </div>
            </div>

        <% end %>
    </div>

<% end %>
<br>
