<div class='flex justify-center'>
    <div class='items-center'>

        <div class="text-sky-800 mt-2"><%= "#{@post.user.name}さんが思う" %></div>
        <div class="text-3xl text-sky-600 font-bold pt-2"><%= @post.title %></div>


        <div class='flex justify-end gap-4 my-2'>
            <div class="text-sky-400">界隈あるある</div>
            <%= render 'shared/xshare_button', post: @post %>

            <% buttons = [
                { path: start_game_path(@post), image: 'post/post-game.svg', id: "image-start-#{@post.id}" },
                { path: edit_post_path(@post), image: 'post/post-edit.svg', id: "image-edit-#{@post.id}" },
                { path: post_path(@post), image: 'post/post-delete.svg', id: "image-delete-#{@post.id}", data: { turbo_method: :delete, turbo_confirm: "えぇ〜 消しちゃうの？" } }
            ] %>
            <% buttons.each do |button| %>
                <%= link_to button[:path], id: button[:id], data: button[:data] do %>
                    <%= image_tag button[:image], width: '25', height: '25', class: "#{button[:image].split('/').last.split('.').first} drop-shadow-md hover:drop-shadow-none" %>
                <% end %>
            <% end %>
        </div>


        <div class="text-sky-600 font-bold space-y-4">
            <% %w[one two three four five].each do |number| %>
                <%= simple_format(@post.public_send("aruaru_#{number}"),
                class: "bg-white border-sky-200 rounded-md border-2 py-1.5 px-4 border-2") %>
            <% end %>
        </div>

        <%= render 'shared/index_backbutton' %>
    </div>
</div>
