<!DOCTYPE html>

<html lang="ja">
<head>
<%= favicon_link_tag('favicon.png') %>
<%# stylesheetのcssファイルと紐付けされる %>
<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>


<%# ーーーーーーURLをシェアした時にサムネイル画像を表示ーーーーーー %>
  <meta property="og:url" content="https://aruaru-game.onrender.com/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="あるある神経衰弱：界隈探求ゲーム">
  <meta property="og:description" content="まずは左上の「遊び方」をクリック！まだトップページだけですが、今後実装していきたいです。">
  <meta property="og:site_name" content="TOP">
  <meta property="og:image" content="https://aruaru-game.onrender.com/URL-SHARE.png">



<%# ナビゲーションバーをトグルに変更 %>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>あるある神経衰弱</title>
  <style>
    .toggle-content {
      display: none;}
  </style>
</head>


<%# ナビゲーションバーをトグルに変更 %>
  <body>
    <%# ヘッダーを表示、全ページで共通のレイアウトを定義 %>
    <%# クラス名をつけた %>
    <div class="header-container">
    <%= render 'shared/header' %>
    </div>
    <%= yield %>

    <%# フッターを表示、全ページで共通のレイアウトを定義 %>
    <div class="footer-container">
    <%= render 'shared/footer' %>
  </body>

</div>
</html>