<!DOCTYPE html>

<html lang="ja">
<head>
<%= favicon_link_tag('ファビコン.png') %>
<%# stylesheetのcssファイルと紐付けされる %>
<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

<%# ナビゲーションバーをトグルに変更 %>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BR1</title>
  <style>
    .toggle-content {
      display: none;}
  </style>
</head>


<%# ナビゲーションバーをトグルに変更 %>
  <body>
    <%# ヘッダーを表示、全ページで共通のレイアウトを定義 %>
    <%# クラス名をつけた %>
    <div class="header-container">
    <%= render 'shared/header' %>
    </div>
    <%= yield %>

    <%# フッターを表示、全ページで共通のレイアウトを定義 %>
    <div class="footer-container">
    <%= render 'shared/footer' %>
  </body>

</div>
</html>